@import '~iview/src/styles/index.less';

@primary-color: #FCC138;

@input-focus-border-color: #FE8966;
@input-hover-border-color: #FE8966;
@input-height-large: 46px;
@input-border-color: rgba(252, 211, 115, 0.521);
@input-padding-horizontal: 10px;

@font-size-base: 15px;
.ivu-checkbox-inner{
  border-color: #f8ac50;
}