$primary-color: #7FC5C2;
$secondary-color: #5f8fe1;
$secondary-color-light: #82B1FF;
$warn-color: #FF5252;
$background-color: #F6F6F6;
$primary-text: #333333;
$secondary-text: #808080;
$thirdary-text: #bfbfbf;
$hint-text: #808080;
